header {
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgba(132, 214, 241, 0.8);
}

#main {
    background-color: rgba(132, 214, 241, 0.8);
    margin: 20px;
    padding: 10px;
    border: 2px solid darkblue;
    text-align: center;
}

#guess-field {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

#feedback {
    background-color: antiquewhite;
    margin: 20px 20px;
    padding: 50px;
    font-size: larger;
    font-style: oblique;
}

#enter-text {
    font-size: 1.8em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

footer {
    text-align: center;
    background-color: rgb(51, 230, 230);
}

#resetBtn {
    background-color: rgba(255, 0, 0, 0.8);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

#guessBtn {
    background-color: rgba(0, 0, 255, 0.5);
    font-family:'Courier New', Courier, monospace
}

body {
    background-image: url("../img/background.jpg");
}
