body h2 {
    width: 85%
}

body {
    background-color: #f8f9fa;
}

.was-validated .form-control:valid {
    border-color: #ced4da;
    box-shadow: none;
    background-image: none;
}

.was-validated .form-control:valid:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

#weatherImg {
    width: 25%;
    margin-top: 20px;
}

#infoTxt {
    text-align: center;
}